[2018-07-26 13:55] gauteh opened #2 "Does not seem to be enabled"
Hi,

I am trying this plugin with `FastFold` and a bunch of other plugins listed below. But I cannot seem to get it to work. Any tips? I just get no fold detected when trying to collapse a function for instance or collapse all.

[code]

[2018-08-06 18:24] kalekundert commented on #2
Sorry for the slow reply, for some reason I didn't get an email notification.  It seems like the incompatibility is with ``kopischke/vim-stay``.  I looked briefly at the code for that plugin, but I haven't been able to really make sense of it yet.

[2018-08-06 18:51] kalekundert commented on #2
Ok, I think maybe the problem is just that ``vim-coiled-snake`` wasn't installed when ``vim-stay`` first ran.  Because ``vim-stay`` persists your fold settings, so if ``vim-coiled-snake`` wasn't installed when the settings were saved for a particular file, then ``vim-stay`` will just override ``vim-coiled-snake`` every time it tries to point your fold settings to itself.

For me, I got this foldin

[2018-08-06 19:52] gauteh commented on #2
Kale Kundert writes on August 6, 2018 20:24:

Thanks, I'll try clearing the cache and get back to you.

[2018-08-07 06:19] gauteh commented on #2
Gaute Hope writes on August 6, 2018 21:52:

That did the trick, thanks!

[2018-08-07 07:31] kalekundert commented on #2
Awesome, glad I could help!

[2018-08-07 07:31] #2 closed

[2018-08-23 10:36] ghickman opened #3 "Long Files Break Status Padding"
When using this plugin with a file that has over 1000 lines and line numbers turned on the closing parentheses is lost from the status line of a folded block.

Example:

![](https://cl.ly/1fa7f169c318/Image%202018-08-23%20at%2011.36.22%20am.png)

[2018-08-23 18:23] kalekundert commented on #3
Thanks for the bug report.  I'll try to look into this later today.

[2018-08-25 17:03] kalekundert commented on #3
I'm actually having trouble reproducing this.  I tried a few things, but it doesn't seem to be enough to simply have more than 1000 lines in the file, at least not with my ``vimrc``.  Do you think you could provide both the file that's causing problems and your ``vimrc`` file, or minimal versions of both?

[2018-08-27 11:57] ghickman commented on #3
Sure thing!

Vimrc: https://github.com/ghickman/dotfiles/blob/master/vimrc
Problematic File: https://github.com/mozilla/treeherder/blob/master/treeherder/model/models.py

[2018-08-27 15:42] micku opened #4 "Wrong fold with Black's multi-line function/method declaration"
When using the plugin with [Black](https://github.com/ambv/black) formatter, it doesn't recognize long functions/methods declaration indentation.

This is the [format](https://github.com/ambv/black#how-black-wraps-lines) used by Black:
[code]

Here is the screenshot:
![image](https://user-images.githubusercontent.com/159038/44669324-e35c8680-aa1f-11e8-950b-46bfbb16653a.png)

This is how it should

[2018-08-28 01:32] kalekundert commented on #4
Thanks for the report.  It shouldn't be too hard to handle this formatting correctly, let me look into it.

[2018-08-28 03:00] #4 closed

[2018-08-28 03:00] kalekundert commented on #4
Ok, I think this is handled correctly now.  Let me know if that's not the case. :-)

[2018-08-28 04:18] #3 closed

[2018-08-28 04:20] kalekundert commented on #3
Yes, my problem was that I didn't have the `numbers` option set.  I think it's fixed now, let me know how it looks.

[2018-08-28 07:10] micku commented on #4
It works! Would be great if this kind of fold shows func args like the inline one, but obviously it is not as important as the fold itself :)

Thank you @kalekundert!

[2018-08-28 08:13] ghickman commented on #3
Yep, this is working for me.  Thanks for fixing this @kalekundert!

[2018-10-12 18:58] kovasap opened #5 "folding stops when viewing same file in two windows"
Using neovim v0.2.2

Steps to reproduce
1. open two files in vim like `nvim file1.py file2.py`
2. use `:vsplit` to open two windows, both windows should show file1.py
3. go to the buffer holding file2.py in the window on the left, it should be folded correctly
4. go to the buffer holding file2.py in the window on the right and everything will be unfolded!

Please let me know if you can reproduce t

[2018-10-12 20:49] kalekundert commented on #5
Thanks for the report!  It seems like a really weird bug, but I can reproduce it.  I'll see if I can figure out what's going on, but I don't really have any ideas off the top of my head.

I did notice that if I switch to the right split before loading `file2.py` initially, then I can go back and load it in the left split without getting the buggy behavior.  I don't know if that's meaningful or not

[2018-10-13 03:36] kalekundert commented on #5
Quick update:
1. A slightly easier way to get the bug is to pass same file to nvim twice (this doesn't require switching between windows):
[code]
2. The problem is related to the FastFold plugin:
    - Removing plugin is enough to fix the buggy behavior.
    - Inserting or removing a character (in the window without folds) then returning to normal mode is enough to restore the folds.  Presumably t

[2018-10-13 04:57] kalekundert commented on #5
Actually, I think Konfekt/FastFold#52 is exactly this issue, and it looks like a fix was pushed 19 days ago.  So try pulling the most recent version of FastFold and see if that fixes the problem.

[2018-10-16 00:45] kovasap commented on #5
Hmm, I just tried this again after updating FastFold, and then outright removing it (first by commenting out the line in my vimrc that loads the plugin and then by also deleting all the FastFold files in ~/.vim/bundle).  In all cases I got the same behavior.  Additionally, your method of opening the same file twice did not replicate the bug for me.  Perhaps we are seeing different bugs with the sa

[2018-10-16 00:49] kovasap commented on #5
I'll see if I can't find some other information that's unique to my version of the bug and post it here when/if I find it.

[2018-10-16 01:27] kalekundert commented on #5
Ugh, I thought for sure that was the problem.  Does making edits in the buffer without folds, or `:set foldmethod=expr` restore the folds for you?

[2018-10-16 18:29] kovasap commented on #5
Neither of those things worked.  I also updated my neovim to 0.3.1 and have the same issue :/.  I'll keep trying stuff as I come up with ideas.

[2018-11-01 17:04] achalddave commented on #5
I was able to reproduce the same problem as well on Neovim 0.3.0 and FastFold commit cdd44dcf54dd6900e9699e957ba4b203d3021d1d . However, the problem goes away if I use the `vim-stay` plugin.

This does seem like it should be related to https://github.com/Konfekt/FastFold/issues/52 as mentioned above but the fix there doesn't fix this issue.

[2019-01-26 13:30] fish-face opened #6 "Does not fold async functions"
Should be easy enough to just `async def` the same as `def`.

[2019-01-26 16:18] #6 closed

[2019-01-26 16:19] kalekundert commented on #6
Thanks for pointing this out, async functions should be folded now.

[2019-02-04 17:12] ipartola opened #7 "num_blanks_below not working?"
I would like to have whitespace between classes and class methods not be hidden. For example:

    class Foo:
        def bar(self):
            return self.a

        def bam(self):
             return self.b

    class XX:
        def x(self):
            return 'x'

Should fold down to:

    class Foo:

    class XX:

How do I use `num_blanks_below` to make that happen?

[2019-02-04 21:49] kalekundert commented on #7
This should keep whitespace between any kind of fold:
[code]
If you want to keep whitespace between just classes and class methods, but not other kinds of folds (e.g. regular functions), you could do something like this:
[code]

[2019-02-04 21:49] #7 closed

[2019-05-16 09:27] mdavezac opened #8 "incompatibility with black's long import setup"
[code]

The last import is not folded down to the close of the parenthesis.

[2019-05-17 16:38] #8 closed

[2019-06-30 20:56] kalekundert opened #11 "Docstring folding seems broken in vim8 (but not nvim)"
Here is a minimal example:

    """
    Hello
    """
    spam = "eggs"

In my hands, `nvim` correctly folds the three lines of the docstring and leaves the spam line unfolded.  `vim` incorrectly opens a new fold on both `"""` lines.  I'm not totally sure if this is due to some mysterious difference between `nvim` and `vim`, or if I somehow have the two programs configured differently.

[2019-06-30 22:07] #11 closed

[2019-09-13 18:42] antoinelb opened #12 "Return type annotations"
Under the following conditions, the return type doesn't get included in the fold:
- Return on a new line with the parenthesis (such as black formats)
- Whitespace in the type annotation (after comma)
For example, this gets folded:
[code]
, but not this:
[code]

[2019-09-13 19:31] kalekundert commented on #12
Thanks for the bug report.  The support for type annotations has always been kinda hacky, so I'll try to put together something more robust this weekend.  Or failing that, I'll at least add another hack to handle this case right. :-)

[2019-09-13 19:33] antoinelb commented on #12
Thanks!

[2019-09-18 19:55] #12 closed

[2019-09-18 19:57] kalekundert commented on #12
I ended up just adding another hack, although I think it should cover any possible return annotation.  Let me know if you run into any other failure cases, though.

[2019-10-16 04:15] Gee19 opened #13 "Error on :PlugClean"
Upon running `:PlugClean` with `vim-coiled-snake` installed neovim crashes with the following output:

[code]

------------------------------

[code]

Neovim 0.4.2 & HEAD
Using OSX (Mojave)

[2019-10-16 14:54] kalekundert commented on #13
Thanks for the report, but I think this is more likely a bug in neovim than coiled-snake.  I can't reproduce the error with neovim v0.4.2, and my understanding is that v0.5.0 is not yet considered stable.  This also looks like a `malloc`/`free` bug, which definitely can't be fixed from vimscript (although it could possibly be worked around).

I'm also a little unsure what you mean by "Neovim 0.4.2

[2019-10-16 15:08] Gee19 commented on #13
Yep, I initially saw this behaviour on neovim 0.4.2 stable. Sorry I should have been clearer

[2019-10-16 15:28] kalekundert commented on #13
Hmmm, can't write it off that easily, then.  But I still can't reproduce the error with my setup in v0.4.2.  Can you make a minimal `init.vim` that triggers the error, ideally also with an empty home directory, e.g. so I can get the error with the following command:
[code]
Also, you said that `vim-coiled-snake` is installed, so I assume it's not one of the plugins being removed by `:PlugClean`.  I

[2019-10-16 16:37] Gee19 commented on #13
`min_init.vim`

[code]

Steps to reproduce:

1. Install vim-plug
2. `HOME=/empty_home nvim -u ~/min_init.vim`
3. Run `:PlugInstall`
4. Remove `Plug 'kalekundert/vim-coiled-snake'` from `min_init.vim`
5. Run `:PlugClean`

Output:
[code]

I will confirm I see the same issue with neovim 0.4.2 at some point today when I have some more free time.

[2019-10-17 05:43] Gee19 commented on #13
Issue still occurs in neovim 0.4.2. Another weird thing I noticed while playing around was when I tried `cp -r ~/.vim/plugged/ ~/empty_home/.config/nvim/` I saw these warnings:

`~/.vim/plugged/vim-coiled-snake/tests/dummy_home/ directory causes a cycle`
`~/.vim/plugged/vim-coiled-snake/tests/dummy_home/ directory causes a cycle`

Upon removing the `plug` and `native` directories `:PlugClean` work

[2019-10-20 16:18] kalekundert commented on #13
Thanks for providing such detailed steps!  Unfortunately I still can't reproduce the crash, but I'm on Linux, so maybe it's a Mac thing.  In any case, it seems like those symlink cycles are the problem.  I just pushed a commit to the `fix-13` branch that removes the cycles.  Can you let me know if that solves the problem, e.g.:
[code]
If it does, I'll push the fix to master.

[2019-10-20 23:06] LucaFilipozzi commented on #13
It does appear to be a macOS thing and `fix-13` solves it.

[2019-10-21 04:21] Gee19 commented on #13
`fix-13` solved the issue. Thanks @kalekundert

[2019-10-23 02:18] kalekundert commented on #13
Great, thanks for doing all the debugging for me. :-)

[2019-10-23 02:18] #13 closed

[2020-02-27 06:29] xuesoso opened #14 "Folding of code block"
Hi, thanks for working on this plugin. It works wonder with no performance loss even for large script files. I was wondering if it's possible to add in folding rules for code block? I use jupytext sometimes to view / execute python scripts from jupyter notebooks. So it would be nice to enable folding of code blocks in the markdown file. Below is a screenshot to illustrate the red box which highlig

[2020-03-01 16:21] kalekundert commented on #14
Sorry it took me a few days to get back to you about this.  It's a good idea, but unfortunately I think it's outside the scope of this plugin.  What would be needed is a markdown plugin that provides some sort of hook that allows third-party plugins to provide folds for code blocks.  This wouldn't be trivial to write, either, because the folds returned by the third-party plugins would need to be c

[2020-03-01 16:21] #14 closed

[2020-03-01 21:52] Fraterius opened #16 "gitgutter signs not recognized"
This plugin https://github.com/airblade/vim-gitgutter/ puts extra sign that gives info about diffs in file. Somehow coiled-snake doesn't deal with it and cuts line when it informs about how many lines have been folded (at end of description).

It shows it in proper way when I put a mark (gitgutter usses mark column as I can tell).

Gitgutter is doing it in async way I think, and that's probably th

[2020-03-01 21:58] frat3rius commented on #16
The same problem occurs when I use ```set signcolumn=yes```, and here gitgutter isn't putting anything in sign column, so I think it's 100% bug. I'm using latest plugins and latest neovim@archlinux.

[2020-03-02 15:26] kalekundert commented on #16
Thanks for the report.  I'll try to look into this tonight.

[2020-03-07 14:36] kalekundert commented on #16
I just pushed a commit that should solve this issue.  Basically, the code to calculate the screen width wasn't correctly accounting for the 'signcolumn' option.  Let me know if you still have any problems, though!

[2020-03-08 11:30] frat3rius commented on #16
@kalekundert Yes it does work now with `set signcolumn=yes` but doesn't work with gitgutter plugin so it doesn't work when signcolumn is dynamically set by third party plugin (I think so). Not sure how does gitgutter is using signcolumn (maybe there is something magical in it). But I had never problems in any other plugin before that's why I presume it's not doing anything in a wrong way.

This wa

[2020-03-08 15:50] kalekundert commented on #16
Yeah, I should've tested it with gitgutter instead of just `signcolumn=yes`.  Let me take another look...

[2020-03-08 18:16] kalekundert commented on #16
Ok, I think I've found the root of the problem, but I don't know how to fix it yet.

When `signcolumn=auto`, the sign column will only be displayed if there are signs to show.  So in order to work out the correct window width, `coiledsnake` needs to check to see if there are any signs to show.  This problem is discussed in more detail on [StackOverflow](https://stackoverflow.com/questions/26315925

[2020-03-08 19:59] frat3rius commented on #16
No problem it's not a must have functionality ;) (I simply thought that this is some minor glitch). I was using coiled-snake for last week with this bug and really doesn't bother me for a second.

And yes, I'm using this workaround right now. Thanks a lot for Your time and great plugin.

[2020-03-12 18:43] josefson opened #17 "When first opening a new file, every close ation will be applied to the entire file."
I wish there would be an option for us to fold whatever we wanted instead of everything by default.
by setting nofoldenable, allows me to open the file not folded, however when trying to fold a simple function causes the entire file to be folded.

[2020-03-15 22:50] kalekundert commented on #17
Sorry for not responding earlier.  I'm not quite sure what you mean, though.  For me, `zc` and `zo` only affect the fold under the cursor.  Can you give me a more specific sequence of what hotkeys you press and what happens?

[2020-08-04 14:38] thomasqueirozb opened #21 "Folds do not work properly with string breaks"
Strings do not seem to fold properly if there are more than 1 line break. Anything after the second line break is not recognized as part of the function

This is an example:
[code]

After folding I get
[code]

[2020-08-04 15:27] kalekundert commented on #21
Thanks for the bug report!  I'll try to look into this tonight.

[2020-08-05 21:28] #21 closed

[2020-08-05 21:29] kalekundert commented on #21
I think I fixed this bug, but let me know if the solution doesn't work for any reason.

[2020-08-06 18:13] thomasqueirozb commented on #21
Thanks it works perfectly

[2020-08-10 16:31] subnut commented on #16
@kalekundert Now that `g:coiled_snake_explicit_sign_width` is configurable, I think we should close this issue?

[2020-08-17 19:23] frat3rius commented on #16
I've switched to https://github.com/mhinz/vim-signify where I don't have this kind of problems ;).

[2020-08-17 19:25] kalekundert commented on #16
I'm glad you found a solution.  Since this doesn't sem like a coiled-snake bug, I'm going to close this issue.

[2020-08-17 19:25] #16 closed

[2020-11-27 18:45] #5 closed

[2020-11-28 14:10] subnut commented on #17
@josefson I am sure you are looking for the `foldlevel` option. Try putting this line in your vimrc -
[code]

If this is not what you are looking for, feel free to re-open this issue.

[2020-11-28 14:10] #17 closed

[2020-12-23 03:02] mikeboiko opened #27 "vim-coiled-snake breaks vim diff for python files"
vim-coiled-snake breaks regular vim diff for python files by changing the fold settings

For example, if I run: `vim -d test1.py test2.py`, I initially see a diff with proper folding
![image](https://user-images.githubusercontent.com/24229496/102954242-45164980-4490-11eb-851d-17e3b2413d74.png)

If I move the cursor over from the left pane to the right pane, my folding breaks
![image](https://user-

[2020-12-23 13:39] subnut commented on #27
@mikeboiko Please try this patch and report the results -
[code]

Sorry for late reply, my exams are going on :sweat_smile:

[2020-12-25 17:39] subnut commented on #27
@mikeboiko Will you please try #28 ? Thanks!

[2020-12-28 00:40] mikeboiko commented on #27
@subnut, thanks for the quick reply. I checked out #28 and I'm still experiencing the same problem.
Please let me know if you have any other ideas.

[2020-12-31 09:49] subnut commented on #27
@mikeboiko Please update to master branch... See if it has been fixed..

[2020-12-31 15:12] mikeboiko commented on #27
@subnut, I just pulled the master branch and tried again but the problem still exists.
Let me know if you need me to dump any detailed logs.

[2020-12-31 17:34] subnut commented on #27
I am sorry but I am unable to reproduce the bug.....
Could you please post an example?

[2020-12-31 18:43] mikeboiko commented on #27
No problem, it sounds like the problem may be with my specific .vimrc
It's just strange that it worked fine for over a year and then suddenly started behaving like this. Perhaps a change in the latest version of vim though.
Regardless, I'm going to do some testing/digging and I'll get back to you with my findings.

[2021-01-01 02:51] subnut commented on #27
@mikeboiko Many changes were implemented in this plugin the last month....
So it could be this plugin, too.

Try a minimal `.vimrc` with _only_ this plugin enabled, and see if the problem persists.

e.g since you use vim-plug, make a file at your home directory called `temp.vimrc` with this contents -
[code]
and then start vim with `vim -u ~/temp.vimrc -d ~/temp/test1.py ~/temp/test2.py`

Please r

[2021-01-06 05:13] subnut opened #29 "Edge-case, wrong folding"
See GIF for demonstration -

![gifcast_210106104022](https://user-images.githubusercontent.com/56714626/103731702-cf6fb900-500b-11eb-8f7e-809f20d1b0db.gif)

Here's the code -
[code]

[2021-01-06 05:16] subnut commented on #27
@kalekundert Can you please check if you can reproduce this issue? I am unable to..

[2021-01-06 05:20] kalekundert commented on #29
Good catch.  I'll take a look at this tomorrow morning.

[2021-01-06 05:33] subnut commented on #29
Just asking, What time is it now at your place?
It's 11:03 here at my place.

[2021-01-06 11:59] kalekundert commented on #29
It was midnight.  I live in Boston.

[2021-01-06 14:04] kalekundert commented on #29
I took a look at this, and I don't think it'll be a simple fix.  The problem is clearly that the multiline string is being treated as a comment/docstring.  Ideally, the plugin would recognize the opening parenthesis on the previous line and understand that nothing should be folded until the closing parenthesis is found.  But without a real python parser, correctly detecting parentheses is not triv

[2021-01-06 21:29] #29 closed

[2021-01-06 21:32] kalekundert commented on #29
Ok, I just pushed some code that should fix this bug.  All of the tests pass, but this was a pretty big change, so let me know if you notice any breakages.

[2021-01-06 22:13] mikeboiko commented on #27
@subnut, I haven't gotten to the core of the issue yet.
However, I did do a test on a clean vimrc as you suggested. The problem doesn't exist on a clean vimrc.
Once I figure out what the conflict is with my .vimrc and the best solution, I will post that info here.

[2021-01-06 22:44] kalekundert commented on #27
I can reproduce something at least similar to this issue.  I used files from the `tests` directory, since they're specifically configured to be sandboxed from other config files present on the system.  Here are the exact commands I used:
[code]
In this case, the `.vimrc` file is:
[code]
With this setup, I could cause the folds to get out-of-sync (i.e. opening/closing a fold in one split wouldn't a

[2021-01-06 23:48] mikeboiko commented on #27
@kalekundert, yea I tested it again with a similar .virmc to the one you posted and I am getting the error.
Not sure why I wasn't getting this error on when I tested a few days ago on my other computer.
But yes, I agree that there seems to be a bug in this plugin.

[2021-01-07 01:23] kalekundert commented on #27
I think I figured out what was going on.  Basically, the FileType autocommand was being triggered before the `&diff` setting was being set, which was causing the plugin to initialize itself incorrectly.  Let me know if this fixes the problem for you.

[2021-01-07 01:28] kalekundert commented on #27
Also let me know if you have any other problems.  I pushed a fairly major change earlier today, and while it works on all the examples I have, it's possible that there will be some regressions.

[2021-01-07 01:29] mikeboiko commented on #27
Hey @kalekundert, I just tested the latest master commit and this problem has been fixed!
I will definitely let you guys know if I run into any new issues.
Thanks again for the awesome plugin!

[2021-01-07 04:12] subnut commented on #27
That's why! :astonished:
During my (scarce) testing, it did seem to me that _something was off_,
but I couldn't quite understand what was causing it.

Great find!

(I know I should've tested better. I usually do. But my exams were going on....)

[2021-01-07 11:10] kalekundert commented on #27
No worries, this was a pretty obscure bug.

[2021-01-08 08:00] subnut opened #30 "Bug :bug:"
![gifcast_210108132615](https://user-images.githubusercontent.com/56714626/103989319-8d827680-51b5-11eb-89bd-97be38412c4a.gif)

Contents of `temp.py` -

[code]

[2021-01-08 08:01] subnut commented on #30
Note the blank folds. That's the bug. The GIF became whole-screen by mistake.

[2021-01-08 12:37] kalekundert commented on #30
Thanks for the example.  Just so I remember, the steps to reproduce the bug are:
- Open the file
- Insert a new line before the first line using `O`.

Some other observations:
- `tests/easy/class.py` has the same behavior, and is easier to debug by virtue of being very simple.
- The behavior seems to depend on which lines were actually modified:
  - `O`: All of the folds are off-by-1.
  - `I<Enter

[2021-01-08 13:00] subnut commented on #30
I tried it a bit, but it didn't seem laggy at all.
(Maybe it is due to my fairly fast processor? :shrug: )

[2021-01-08 19:19] mikeboiko commented on #27
@kalekundert, I did notice another bug when performing diffs with the vim-fugitive plugin.
I'm sure you're at least a little familiar with this tpope plugin, but to summarize, you can run `:Gdiff` to show the diff as compared to the last git commit.
If I'm performing a vim diff with `:Gdiff` as opposed to `vim -d file1.py file2.py`, my original bug still exists.
This used to work perfectly fine, b

[2021-01-08 20:40] kalekundert commented on #27
Hmm, ok, I'll look into that.  I'm not totally surprised, because diff-mode is handled as a little bit of a special case when the plugin starts up, so this sounds like the kind of corner case that might slip through.

FYI, the reason this broke is that we changed how coiled snake initializes itself.  Previously all of its settings were "buffer local".
 But fold-related settings are supposed to be

[2021-01-08 20:41] mikeboiko commented on #27
Sounds good, thanks @kalekundert
Yes, it definitely makes sense to use "window local" settings for folding.

[2021-01-08 20:48] subnut commented on #27
Yeah.. while making the options window local fixed some issues, it made new issues regarding diff.
Maybe we're doing something wrong...?

But atleast we have confidence that we are doing one thing right, keeping window-local things window-local, and not buffer-local.

I'm sure that we'll figure out the solution to this problem soon. :+1:

EDIT: #5 Was fixed by the above-mentioned change

[2021-01-08 20:54] mikeboiko commented on #27
lol I know how it is - usually I'm happy if I'm fixing more things than I'm breaking :D

[2021-01-08 21:22] subnut commented on #27
@kalekundert I just got an idea...
How about this -
`ftplugin/python/coiledsnake.vim`
[code]
And then, whenever we enter a new window, we first check for this variable.

If that variable exists, we next check **whether `:set foldmethod` and `:set foldexpr` and `:set foldtext` are set to their default (global) values**. If yes, we can implement our folding. If no, that means something is going on (

[2021-01-08 21:38] subnut commented on #27
@mikeboiko I just implemented what I mentioned above in #31. Could you please check whether that fixes this issue?

[2021-01-08 21:43] subnut commented on #27
Off-topic:
I know, I ask this question too much :sweat_smile:, but still..
**What is the time at your places right now?**
It's 03:14 hours (i.e. 3:14 AM) at my place.

[2021-01-08 21:57] mikeboiko commented on #27
@subnut, wow I appreciate you working on this so late! I'm in Canada and it's 2:56 PM here.
I just tested the latest code by running `gh pr checkout 31` and I kept getting error messages every time I went into a new file. I wasn't able to successfully run `:Gdiff`

For example this is the output of my error messages
[code]

[2021-01-08 22:00] subnut commented on #27
:facepalm: that's what happens when you call others to test things without testing it yourself.

Will look into it tomorrow..

[2021-01-08 22:03] subnut commented on #27
:facepalm: forgot to delete an autocommand after i'd deleted the function.
@mikeboiko it should be fixed now

note to self: That's what happens when you call others to test something before you've tested it yourself.

[2021-01-08 22:05] subnut commented on #27
Nope. It didn't work. I think I know why...
Lemme just push a fix. 10 mins ETA.

[2021-01-08 22:12] subnut commented on #27
This time I tested it a bit. Seems to be working.
@mikeboiko could you please check?

[2021-01-08 22:14] mikeboiko commented on #27
@subnut, I just tested it again and the problem with `:Gdiff` still exists.

[2021-01-08 22:15] subnut commented on #27
Are you sure you pulled it correctly...?
It might need a `git reset --hard origin/subnut-fix-27`

---

EDIT: GIF to demonstrate that it works on my side
![gifcast_210109035014](https://user-images.githubusercontent.com/56714626/104070845-d70ea800-522d-11eb-8044-bdbc057accea.gif)

[2021-01-08 22:17] mikeboiko commented on #27
Yep, I pulled it correctly. Sorry to disappoint!

[2021-01-08 22:21] subnut commented on #27
Hmm... could you please post a GIF if you are able to? I just posted mine in my last comment showing that it's working on my side...

---

The most hated thing about software developers: _It works on my machine!_

[2021-01-08 22:22] mikeboiko commented on #27
Yep, I'll record my gif and post on here in about an hour. Just got to run to a meeting.
Mine definitely looks different from your gif.

[2021-01-08 22:23] subnut commented on #27
And I'll go sleep :sleeping:
(or maybe not.)

[2021-01-08 22:52] subnut commented on #27
@mikeboiko I found the problem. It's my vimrc. Some setting is causing it work properly. Lemme dig further.

No need now. Will inform you later if needed.

[2021-01-08 23:09] subnut commented on #27
@mikeboiko Please try the latest commit. It should fix the issue.

No need now. Will inform you later if needed.

[2021-01-08 23:20] mikeboiko commented on #27
@subnut, it works great now! Thank you for your dedication and hard work!

[2021-01-08 23:29] subnut commented on #27
Whew. Finally!

@kalekundert please check if it works on your
side too, and please report bugs, if any, at #31

@mikeboiko thank you for being patient, and
reporting the bugs in the first place :+1:

@subnut thank you for taking the time to
solve this even at 5:00 in the morning.

---

Guess where I live?

[2021-01-08 23:32] mikeboiko commented on #27
Guessing by the times that you've stated, are you in Bangladesh?

[2021-01-08 23:34] subnut commented on #27
really close. I'm from India.

[2021-01-08 23:35] mikeboiko commented on #27
Ahh, google almost got me there :)

[2021-01-09 08:06] subnut commented on #27
@mikeboiko does `vim -d file1.py file2.py` still work? Could you check it once?

I ask because in #31 I removed that part of the code that @kalekundert had implemented to make it work.

[2021-01-09 14:44] mikeboiko commented on #27
@subnut, yep the regular vim diff still works good.

[2021-01-10 09:02] Hans-Guenter opened #32 "Plugin changes the global options foldmethod and foldtext"
I assume the changes from 17 days ago where the cause of this bug.
The consequence of this bug is that for buffers in which the options foldmethod and foldtext are not set explicitly they get their values from the previously active one.
The cause is that statements like "let &foldmethod = ..." change the global options.
I succeded in changing such a statement to "let &l:foldmethod = ...".
At least

[2021-01-10 11:53] subnut commented on #32
EDIT: I just saw the documentation about `:h :let-&` and am genuinely astonished to see the truth. I really wasn't aware of this detail. Thank you very much for the insight :+1:

The issue shall be fixed soon. (In fact, you have already fixed it for us :smile:)

---

<strike>

But isn't that option local-to-window? :astonished: </strike>

[2021-01-10 12:15] #32 closed

[2021-01-10 12:19] subnut commented on #32
I really appreciate your effort to find out the bug yourself and try to fix it, and also inform us about what caused this bug and why. This is really high-quality!

[2021-01-11 23:02] mikeboiko commented on #27
Hey guys, so I discovered another bug related to my original issue. Although the strange folding action has been fixed for python files, i seem to have the same problem for non-python files.
For example, in the below gif, I run `:Gdiff` on a csv file and my folds get automatically unfolded when I switch between windows. This is the same thing that used to happen for python files when I originally

[2021-01-11 23:09] mikeboiko commented on #27
Actually never-mind. it's all good.
I ran `:PlugUpdate` in order to update all my vim plugins and `vim-plug` automatically switched to the master branch on `vim-coiled-snake`.
I checked out the `subnut-fix-27` branch and the csv problem went away.
I would suggest to just merge the latest commit into master so other users don't experience this problem. Thanks!

[2021-01-11 23:31] mikeboiko commented on #27
![render1610407489286](https://user-images.githubusercontent.com/24229496/104251207-6c778b00-542c-11eb-958c-88630e16cdac.gif)

Ok, I did just discover another bug on the `subnut-fix-27` branch.
In this gif, I open 2 different python files and when I switch between them, my folds get opened/closed for some reason.

[2021-01-12 03:48] subnut commented on #27
@mikeboiko You have `:set foldmethod=marker` in your .vimrc?

This is expected behaviour for now, because the folding is set/reset when the cursor moves into a window.
I am still looking for a reliable way to decide when a buffer is shown/removed from a window **without** having the cursor in it....

Do let me know if you have any ideas..

[2021-01-12 04:01] subnut commented on #27
I have found `BufWinEnter`, and it would have solved the problem once-and-for-all, **but** it doesn't get triggered for `:split`  :angry:

[2021-01-12 04:35] subnut commented on #27
@mikeboiko I just pushed a new commit on the `subnut-fix-27` branch. Do let me know if that fixes the issue.
Also, if it does solve the issue, please remember to check whether the previous issues in this thread remain fixed,
or whether the new commit re-introduces any of the issues. (I don't think it will...)

[2021-01-12 14:41] mikeboiko commented on #27
@subnut, yep all the scenarios are working well now. thank you for that!

[2021-01-13 20:59] kalekundert commented on #30
Ok, this should be fixed in master now.

[2021-01-13 20:59] #30 closed

[2021-03-07 20:42] jonasrogert opened #33 "Packer.nvim installation problem - git-submodules without URL"
I have an issue where vim-coiled-snake cannot be installed using neovim nightly and [Packer.nvim](https://github.com/wbthomason/packer.nvim)

Error when trying to update using packer:
[code]

Same error when running `git submodule update --init --recursive` which is what packer is using.

[code]

Result is that it wont install.

[2021-03-07 21:18] jonasrogert commented on #33
I did a fast temporary fix for it by removing the vim-gitgutter directory. I can't actually find any submodule reference to the vim-gitgutter folder so im not sure really how this happend. It might be only my setup...

https://github.com/jonasrogert/vim-coiled-snake/tree/submodules-no-url

It will probably break tests, not sure how tests and so works in vim.

[2021-05-05 04:04] Gee19 opened #34 "Performance issue when repeating simple action"
I noticed some weird performance issues when repeating a simple action in normal mode like `x` when in larger python repos. I initially thought this was a pyright issue but after profiling with the commands below it seems to be related to this plugin.

[code]

I grepped the profile.log for functions that were called more than 1000 times, included 3 lines above and below each match for more info on

[2021-05-05 11:56] kalekundert commented on #34
Thanks for pointing this out.  I think I might know what's going on, but I'll have to look into it more closely.

[2021-06-29 10:05] steve-biggs opened #35 "Code is refolded automatically when pasting"
Consider the following code:

[code]

When all is folded, it will be like this:

[code]

I like to work with the header folded but the class open so I can see the methods (maybe some of the methods will be open too but that doesn't make any difference so let's ignore that for now), e.g. like this:

[code]

However, if I paste two or more lines between the folded header line and the open class, the

[2021-06-29 15:22] kalekundert commented on #35
Do you have the [FastFold](https://github.com/Konfekt/FastFold) plugin installed?  If not, I think it will solve this problem.

[2021-07-26 00:30] mikeboiko commented on #27
@kalekundert and @subnut, it seems that commit 431d705 brought this problem back.
If I checkout HEAD^^ (5807a09), the problem is gone agin.
Could you take a look please?

[2021-07-27 14:01] kalekundert commented on #27
Thanks for bringing this up.  I'll look into it as soon as I can, hopefully this weekend.

[2021-09-16 22:39] Gee19 commented on #34
Is there anything I can do to help? I really miss this plugin :(

[2021-09-16 22:44] kalekundert commented on #34
Sorry, I completely forgot about this.  Can you point me to a file that has the performance problem?  Also, do you have the FastFold plugin installed?

[2021-09-19 19:10] mikeboiko commented on #27
@kalekundert, just wanted to see if you had a chance to look at this yet? Thanks.

[2021-09-20 18:53] Gee19 commented on #34
No worries. I'll try and post a reproducible example at some point this week (hopefully today after work). I do have FastFold installed.

[2021-09-21 05:37] Gee19 commented on #34
Looks like my initial thought that it was related to Pyright or an LSP server was incorrect. I was able to reproduce this with a minimal vimrc and the flask repo using neovim 0.5 stable and vim 8.2.

[code]

.vimrc
[code]

`git clone https://github.com/pallets/flask && cd flask`
`vim src/flask/helpers.py`
`hold the 'x' key on some random imports`

The editor slows to a halt and accepts no input. I

[2021-09-21 12:59] kalekundert commented on #34
Awesome, thanks for the minimal example.  Sorry it's taken me so long to look into this, but I'll try to get to it soon.

[2021-09-25 19:29] kalekundert commented on #34
I can reproduce the problem, although I haven't made any progress towards fixing it yet.  It does seem that, for whatever reason, `nvim` does not suffer from this performance issue.  So that could be a work-around, if you can easily use `nvim`.

[2021-09-25 22:34] Gee19 commented on #34
@kalekundert what neovim version are you using? I saw it on 0.5 stable but I'm completely open to using a specific version to avoid this issue (I really like this plugin 😂)

[2021-09-26 16:40] kalekundert commented on #34
I also have nvim==0.5.0.  Not sure what the difference is.  In any case, there is a real problem that needs to be fixed.  This is related to #30: the problem goes away if I remove the code I added to fix that bug (which basically forces the folds to be recalculated every time the text changes).

I'm also getting the impression that coiledsnake is somehow preventing FastFold from working correctly.

[2021-09-26 17:42] Gee19 commented on #34
Maybe its worth ignoring fold calculation until entering normal mode again.

[2021-09-26 17:46] Gee19 commented on #34
Could debouncing the calculation help? Probably not ideal though

[2021-09-30 16:36] WANDEX commented on #33
I confirm, plugin cannot be installed or even updated using [Packer.nvim](https://github.com/wbthomason/packer.nvim).

Temporary solution without modifying the source code is to clone plugin manually into your packer/opt dir:
and add ```lock=true``` option into your nvim config, to not try updating it during sync/update of all other packages.

This is what i used (+lazy-load it by file type) **(pa

[2021-10-01 04:50] Gee19 commented on #34
@kalekundert I've been using the changes from that PR for a day or two and haven't noticed any bugs and it completely fixed the performance issue. I'm not going to pretend I understand the repercussions of this change but it seems promising

[2021-10-01 04:57] kalekundert commented on #34
That's good to hear, I'll have to take a close look at that PR.  I'm not sure I understand the repercussions either, unfortunately...

[2022-01-30 09:18] gegnew commented on #35
I have this problem as well, and FastFold doesn't seem to solve the issue. It also folds expanded snippets automatically, so that:

"test" + expand-mapping resolves to
[code]
instead of
[code]
where < > are snippet placeholders.

This prevents placeholders from being used.

This (and the OP issue) appear to be "resolved" if you `zR` on the file before pasting or snippet-ing.

[2022-03-02 00:18] jeetsukumaran opened #37 "Numerous operations result in: E108: No such variable: "b:coiled_snake_should_foldsetlocal""
When:

(1) restoring sessions
(2) reformatting the code in an external process such as `:! black %`
(3) reloading some files

I often get the following errors:
[code]

It rarely results in totally borked folding, but I do have to `zR` to get them. My `sessionoptions` used to be: `set sessionoptions=buffers,curdir,skiprtp,tabpages,folds`, but I get the errors even without folds (though less frequen

[2022-03-02 02:15] subnut commented on #37
Could you please test whether the `fix-37` branch fixes this issue?

[2022-03-02 02:24] jeetsukumaran commented on #37
Thanks for the quick response! I've pulled the fix, and will update here with feedback if I am unable to any longer see the error! :)

[2022-03-03 06:11] jeetsukumaran commented on #37
So far, so good! Been working flawlessly. Will let you know if this happens again, but think it's been fixed. Either way, THANKS for the best Python folding I've seen yet in Vim/Neovim :) !

[2022-03-03 13:02] subnut commented on #37
Thank @kalekundert :)

Also, @jeetsukumaran, I've updated the `fix-37` branches with some important changes. Please update it on your end too, and let me know if there are any new problems (there shouldn't be...)

P.S. I am keeping this issue open until `fix-37` gets merged to the `master` branch.

[2022-03-16 20:19] meshy commented on #34
I'm using neovim, and have been encountering slowdown issues with this plugin too.

[2022-03-29 20:38] Gee19 commented on #34
Have you tried the changes in the PR mentioned in this issue? You could also try it out by installing my fork: https://github.com/Gee19/vim-coiled-snake

I've been using it since October 2021 with no issues but haven't tested it extensively.

[2022-03-30 12:31] meshy commented on #34
I have to admit now that I can't reproduce the slowdown with either branch. I probably should have taken better notes on my testing method before removing the plugin (and commenting :grimacing:). I'll re-install this version of `vim-coiled-snake`, and if I see a slowdown again, I'll compare with your branch. Apologies for the inconvenience!

[2022-05-25 11:15] meshy commented on #34
I've started experiencing slow-downs again (on this version, not the fork), and did some profiling.

To test things, I ran the commands listed at the top of the file:

[code]
Then I opened a new line with `o<esc>`, then undid the operation with `u` a few times (sorry, I didn't count). I'm afraid I can't share the file, but if it helps, it's a 2861-line pytest test file.

I'm not especially familia

[2022-05-25 13:50] meshy commented on #34
On closer inspection, it seems that the regex line matching in a loop is consuming a lot of the time. I wonder if there's a way the pattern matching could be sped up, or the results of calls cached?

[2022-08-24 12:52] gauteh commented on #2
Since I'm here again, fixed this time by running `:CleanViewDir` with vim-stay installed.

[2022-09-14 13:18] ipsod opened #38 "How to fold all whitespace?"
Hi.

I want to fold all whitespace.  If I want whitespace between things (classes, methods, functions, etc.), I can use comments.  To be clear, I'll use the comment as whitespace, not as an indicator that there should be whitespace before something - I want all whitespace folded.

Is this possible with your plugin?

[2022-09-14 17:11] kalekundert commented on #38
This plugin can't exactly do that, I don't think.  You can set `num_blanks_below` to a large value, which will (practically speaking) cause all whitespace between any two folds of the same type (e.g. method/method, class/class, etc.) to be included in the folds.  However, I don't think there's a way to include whitespace between two folds of different types (e.g. method/class), or after a fold tha

[2022-09-14 21:09] ipsod commented on #38
Ah, that's too bad.  Thank you for the quick response.  I'm currently using your plugin and it's nice.  I like to zoom out and get a bird's eye view of the code, and if I could get rid of the extra whitespace, I could fit about twice as much on the screen.

[2022-10-26 21:41] ipsod commented on #34
I found a similar slowdown in NeoVim, with and without FastFold installed.  Does anyone know of a anything that works?  `vim-coiled-snake` does folding better than I can find elsewhere, but it makes neovim too slow.

[2022-10-27 13:25] meshy commented on #34
I think the way to tackle the speed issue of this plugin (on large files) would be to try to speed up the comparisons made by these regexes: https://github.com/kalekundert/vim-coiled-snake/blob/ce50abca6c3533cb9bf48e910f87ae91f2969740/autoload/coiledsnake.vim#L2-L17.

Perhaps some of these comparisons could be done faster? Maybe there's a way to avoid re-running them so often?

[2022-10-27 13:42] ipsod commented on #34
I worked on a Python neovim plugin that parses indented text (not Python code).  It builds a tree of objects out of the parsed (indented) text.  If I remember right, it was easy to subscribe to buffer changes, and the subscribing function receives line numbers any time buffer text changes, and it's then quite easy to only update the branch of the tree that has actually changed.

I wouldn't want to

[2022-11-08 21:00] Gee19 commented on #38
You might be able to achieve this with folds and some [conceal magic](https://vi.stackexchange.com/questions/5175/is-there-a-way-to-conceal-across-lines)